@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vote</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <header>
        <div class="layout-navbar">
            <div class="layout-navbar_links">
                <div class="layout-navbar__section">
                    <a class="layout-navbar__link layout-navbar__header" asp-area="" asp-controller="Vote" asp-action="Index">Vote</a>
                    <a class="layout-navbar__link" asp-area="" asp-controller="Vote" asp-action="Index">@Localizer["Vote"]</a>
                    <a class="layout-navbar__link" asp-area="" asp-controller="Map" asp-action="Index">@Localizer["Map"]</a>
                    <a class="layout-navbar__link" asp-area="" asp-controller="Map" asp-action="VotePlaces">@Localizer["Search"]</a>
                    <a class="layout-navbar__link" asp-area="" asp-controller="Vote" asp-action="Privacy">@Localizer["Conf"]</a>
                    <a class="layout-navbar__link" href="@Url.Action("Index", "Account")">@Localizer["Acc"]</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager") || User.IsInRole("SuperAdmin"))
                    {
                        <a class="layout-navbar__link" asp-area="AdminPanel" asp-controller="Admin" asp-action="Index">@Localizer["Panel"]</a>
                    }
                </div>
                <div class="layout-navbar__section">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="display: flex;">
            &copy; 2020 - Vote - <a asp-area="" asp-controller="Vote" asp-action="Privacy">@Localizer["Conf"]</a> <div style="margin-left: 20px;"><partial name="_Culture" /></div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
