@model List<Entities.VotePlaceModel>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<link href="~/css/table.css" rel="stylesheet" />
<table class="vote__table" style="width: 100%">
    <tr class="table__header">
        <th class="prop__title">@Localizer["id"]</th>
        <th class="prop__title">@Localizer["Region"]</th>
        <th class="prop__title">@Localizer["Town"]</th>
        <th class="prop__title">@Localizer["Street"]</th>
        <th class="prop__title">@Localizer["House"]</th>
        <th class="prop__title">@Localizer["Actions"]</th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr class="table__user">
            <td class="prop">@Model[i].Id</td>
            <td class="prop">@Model[i].Region</td>
            <td class="prop">@Model[i].Town</td>
            <td class="prop">@Model[i].Street</td>
            <td class="prop">@Model[i].House</td>
            <td class="prop">
                <a href=@Url.Action("PlaceDetail", "Admin", new { Id = Model[i].Id })>@Localizer["Detail"]</a>
                <a href=@Url.Action("PlaceDelete", "Admin", new { Id = Model[i].Id })>@Localizer["Delete"]</a>
            </td>
        </tr>
    }
</table>