@model List<Vote.Areas.AdminPanel.Forms.AdminPanelUser>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<link href="~/css/users.css" rel="stylesheet" />
<table class="users__table">
    <tr class="table__header">
        <th class="prop__title">@Localizer["Mail"]</th>
        <th class="prop__title">@Localizer["Confirm"]</th>
        <th class="prop__title">@Localizer["Phone"]</th>
        <th class="prop__title">@Localizer["Try"]</th>
        <th class="prop__title">@Localizer["Id"]</th>
        <th class="prop__title">@Localizer["Actions"]</th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr class="table__user">
            <td class="prop">
                @if (!Model[i].Roles.Contains("SuperAdmin") || User.IsInRole("SuperAdmin"))
                {
                    <a href=@Url.Action("UserDetail", "Admin", new { Id = Model[i].Id })>@Model[i].Email</a>
                }
                else
                {
                    @Model[i].Email
                }
            </td>
            <td class="prop">@Model[i].EmailConfirmed</td>
            <td class="prop">@Model[i].Phone</td>
            <td class="prop">@Model[i].AccessFailedCount</td>
            <td class="prop">@Model[i].Id</td>
            <td class="prop">
                @if (!Model[i].Roles.Contains("SuperAdmin") || User.IsInRole("SuperAdmin"))
                {
                <a href=@Url.Action("UserDetail", "Admin", new { Id = Model[i].Id })>@Localizer["Detail"]</a><small>,</small>
                }
                @if (User.IsInRole("SuperAdmin"))
                {
                    <a href=@Url.Action("UserDelete", "Admin", new { Id = Model[i].Id })>@Localizer["Delete"]</a><small>,</small>
                    @if (!Model[i].Roles.Contains("Manager"))
                    {
                        <a href=@Url.Action("UserRoleSet", "Admin", new { Id = Model[i].Id, Role = "Manager" })>@Localizer["MakeManager"]</a><small>,</small>
                    }
                    else
                    {
                        <a href=@Url.Action("UserRoleUnset", "Admin", new { Id = Model[i].Id, Role = "Manager" })>@Localizer["UnMakeManager"]</a><small>,</small>
                    }
                    @if (!Model[i].Roles.Contains("Admin"))
                    {
                        <a href=@Url.Action("UserRoleSet", "Admin", new { Id = Model[i].Id, Role = "Admin" })>@Localizer["MakeAdmin"]</a><small>,</small>
                    }
                    else
                    {
                        <a href=@Url.Action("UserRoleUnset", "Admin", new { Id = Model[i].Id, Role = "Admin" })>@Localizer["UnMakeAdmin"]</a><small>,</small>
                    }
                }
                else if (User.IsInRole("Admin"))
                {
                    @if (!Model[i].Roles.Contains("SuperAdmin"))
                    {
                        @if (!Model[i].Roles.Contains("Manager"))
                        {
                            <a href=@Url.Action("UserRoleSet", "Admin", new { Id = Model[i].Id, Role = "Manager" })>@Localizer["Подробнее"]</a><small>,</small>
                        }
                        else
                        {
                            <a href=@Url.Action("UserRoleUnset", "Admin", new { Id = Model[i].Id, Role = "Manager" })>@Localizer["UnMakeManager"]</a><small>,</small>
                        }
                        @if (!Model[i].Roles.Contains("Admin"))
                        {
                            <a href=@Url.Action("UserRoleSet", "Admin", new { Id = Model[i].Id, Role = "Admin" })>@Localizer["MakeAdmin"]</a><small>,</small>
                        }
                        else
                        {
                            <a href=@Url.Action("UserRoleUnset", "Admin", new { Id = Model[i].Id, Role = "Admin" })>@Localizer["UnMakeAdmin"]</a><small>,</small>
                        }
                    }
                }
            </td>
        </tr>
    }
</table>