<link href="~/css/placeDetail.css" rel="stylesheet" />
<h1>Информация о месте голосования</h1>
<div class="place-detail__container">
    <div class="place-detail__info">
        @await Component.InvokeAsync("PlaceInfo", new { id = ViewBag.Id, showDetail=false})
    </div>
    <div class="place-detail__create-evidence">
        @await Component.InvokeAsync("EvidenceEdit", new {  })
    </div>
    @if (@ViewBag.evidences != null && @ViewBag.evidences?.Count != 0)
    {
        <div class="place-detail__title">

        </div>
        <div class="place-detail__evidences">
            <div class="evidences__container">
                @foreach (var evidence in @ViewBag.evidences)
                {
                <div class="evidence">
                    <div class="evidence__index">
                        @evidence.index
                    </div>
                    <div class="evidence__user">
                        @evidence.Email
                    </div>
                    <div class="evidence__date">
                        @evidence.Evidence.CreatedAt
                    </div>
                    <div class="evidence__comment">
                        <div class="evidence__title">Комментарий</div>
                        @evidence.Evidence.Comment
                    </div>
                    @if (User.IsInRole("Manager") || User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <a href="@Url.Action("EditEvidence", "Evidence", new { id = evidence.Evidence.Id })">Изменить</a>
                    }
                    @if (evidence.Files != null)
                    {
                        <div class="evidence__files">
                            <div class="evidence__title">Прикреплённые файлы</div>
                            @foreach (var file in evidence.Files)
                            {
                                @if (file != null)
                                {
                                    <div class="evidence__file">

                                        <a href="@file.Path"><img class="evidence__img" src="@file.Path" alt="" /></a>
                                        <a class="file__link" href="@file.Path">Приложение @evidence.Files.IndexOf(file)</a>
                                    </div>
                                }
                            }
                        </div>
                    }
                </div>
                }
            </div>
        </div>
    }
</div>
