@model List<Vote.Areas.AdminPanel.Forms.AdminPanelUser>

    <link href="~/css/users.css" rel="stylesheet" />
<table class="users__table">
    <tr class="table__header">
        <th class="prop__title">Почта</th>
        <th class="prop__title">Подтверждённый аккаунт</th>
        <th class="prop__title">Телефон</th>
        <th class="prop__title">Попытки </th>
        <th class="prop__title">Id</th>
        <th class="prop__title">Действия</th>
    </tr>
    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr class="table__user">
            <td class="prop"><a href=@Url.Action("UserDetail", "Admin", new { Id = Model[i].Id })>@Model[i].Email</a></td>
            <td class="prop">@Model[i].EmailConfirmed</td>
            <td class="prop">@Model[i].Phone</td>
            <td class="prop">@Model[i].AccessFailedCount</td>
            <td class="prop">@Model[i].Id</td>
            <td class="prop">
                <a href=@Url.Action("UserDetail", "Admin", new { Id = Model[i].Id })>Подробнее</a>
                @if (User.IsInRole("Admin"))
                {
                    <a href=@Url.Action("UserDelete", "Admin", new { Id = Model[i].Id })>Удалить</a><small>|</small>
                    <a href=@Url.Action("UserRoleSet", "Admin", new { Id = Model[i].Id, Role = "Manager" })>Сделать менеджером</a><small>|</small>
                    <a href=@Url.Action("UserRoleUnset", "Admin", new { Id = Model[i].Id, Role = "Manager" })>Снять с менеджера</a><small>|</small>
                    <a href=@Url.Action("UserRoleSet", "Admin", new { Id = Model[i].Id, Role = "Admin" })>Сделать админом</a><small>|</small>
                    <a href=@Url.Action("UserRoleUnset", "Admin", new { Id = Model[i].Id, Role = "Admin" })>Снять с админа</a><small>|</small>
                }
            </td>
        </tr>
    }
</table>