@model Vote.Areas.AdminPanel.Forms.UserForm
<link href="~/css/placeDetail.css" rel="stylesheet" />
<h1>Detail</h1>
<div class="place-detail__container">
    <div class="place-detail__info">
        <div>
            @Model.User.Id
            @Model.User.Email
            @Model.User.EmailConfirmed
            @Model.User.PhoneNumber
            @Model.User.AccessFailedCount
        </div>
    </div>
    <div class="place-detail__create-evidence">
        <form asp-controller="Map" asp-action="PlaceDetail" method="post" enctype="multipart/form-data">
            <div class="create-evidence__title">
                Есть какая-либо компрометирующая информация?
            </div>
            <div class="create-evidence__text">
                <label asp-for="User.PhoneNumber"></label>
                <input asp-for="User.PhoneNumber" name="User.PhoneNumber">
            </div>
            <div class="create-evidence__text">
                <label asp-for="User.Email"></label>
                <input asp-for="User.Email" name="User.Email">
            </div>
            <div class="create-evidence__text">
                <label asp-for="User.EmailConfirmed"></label>
                <input asp-for="User.EmailConfirmed" name="User.EmailConfirmed">
            </div>
            <input asp-for="User.Id" name="User.Id" type="hidden" />
            <input type="submit" value="Изменить" />
        </form>
    </div>
    <div class="place-detail__evidences">
        @if (Model.Evidences != null && Model.Evidences?.Count != 0)
        {
            <div class="place-detail__title">

            </div>
            <div class="place-detail__evidences">
                <div class="evidences__container">
                    @foreach (var item in Model.Evidences)
                    {
                        <div class="evidence">
                            <div class="evidence__index">
                                @item.index
                            </div>
                            <div class="evidence__user">
                                @item.Email
                            </div>
                            <div class="evidence__comment">
                                <div class="evidence__title">Комментарий</div>
                                @item.Evidence.Comment
                            </div>
                            @if (item.Files != null && item.Files.Count() != 0)
                            {
                                <div class="evidence__files">
                                    <div class="evidence__title">Прикреплённые файлы</div>
                                    @foreach (var file in item.Files)
                                    {
                                        @if (file != null)
                                        {
                                            <img src="@file.Path" />
                                        }
                                    }
                                </div>
                            }
                            <div class="evidence__place">
                                <div class="evidence__title">Место голосования</div>
                                @await Component.InvokeAsync("PlaceInfo", new { id = item.Evidence.VotePlaceId.Id, showDetail = true })
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>